<h2 class="center"><%= t(".title")%></h2>

<%= render 'form', entertainment: @entertainment %>

<br>
<div class="container center">
	<%= link_to t(:show), @entertainment, class: "waves-effect waves-light btn" %> 
	<%= link_to t(:back), entertainments_path, class: "waves-effect waves-light btn"  %>
</div>