<h2 class="center"><%= t(".title") %></h2>

<%= render 'form', post_slide: @post_slide %>

<br>
<div class="container center">
	<%= link_to t(:show), @post_slide, class: "waves-effect waves-light btn" %> 
	<%= link_to t(:back), post_slides_path, class: "waves-effect waves-light btn"  %>
</div>
